{% extends 'hospital_pricing/base.html' %}
<!-- {% load static %} -->
{% load crispy_forms_tags %}

{% block content %}

<article>
	<header>
	  <div class="row">
	    <div class="col-sm-11">
	      <h2>U.S. Hospitals</h2>
	    </div>
	    <div class="col-sm-1">
	      {% if user.is_authenticated %}
	        <a class="btn btn-outline-secondary" href="{% url 'hospital_new' %}">new</a>
	      {% endif %}
	    </div>
	  </div>
	</header>
	{% if user.is_authenticated %}

		{% include 'hospital_pricing/pagination.html' %}

	  {% if hospitals %}
	  <ul>
	    {% for hospital in hospitals %}

	    <!-- safe filter on for raw HTML stored in database -->
	    <li><a href="{% url 'hospital_detail' hospital.pk %}">{{ hospital.hospital_name | safe }}</a></li>
	    {% endfor %}

	  </ul>
	  {% else %}
	  <p>No Countries or Areas are available to view on this planet. Please check the number and try your call again. This is a recording. **Click** </p>
	  {% endif %}
	  <p>page count: {{ hospitals.count }}</p>

	{% else %}
		<a href="{% url 'login' %}">Log In</a>
	{% endif %}
</article>


{% endblock content %}}