{% extends 'hospital_pricing/base.html' %}
{% load hospital_pricing_extras %}

   
   <!-- safe filter on for raw HTML stored in database -->
{% block content %}
     <header>
       <div class="row">
         <div class="col-sm-10">
           <h2>{{ pricing.pricing_id | safe }}</h2>
         </div>
         <div class="col-xs-1">
           {% if user.is_authenticated %}
             <a class="btn btn-outline-secondary" href="{% url 'pricing_update' price.pk %}">Edit</a>
           {% endif %}
         </div>
         <div class="col-xs-1">
           {% if user.is_authenticated %}
             &nbsp;<a class="btn btn-outline-warning" href="{% url 'pricing_delete' price.pk %}">Delete</a>
           {% endif %}
         </div>
       </div>
     </header>

{% if price.price %}
    <div class="row">
      <div class="col-sm-2">
        <p> Hospital ID </p>
      </div>        
        <div class="col-sm-10">
          <p>{{price.hospital_id}}</p>
        </div>
    </div> 
  {% endif %}

{% if price.price %}
    <div class="row">
      <div class="col-sm-2">
        <p> DRG Code </p>
      </div>        
        <div class="col-sm-10">
          <p>{{price.drg_code}}</p>
        </div>
    </div> 
  {% endif %}


{% if price.price %}
    <div class="row">
      <div class="col-sm-2">
        <p> Pricing ID </p>
      </div>        
        <div class="col-sm-10">
          <p>{{price.pricing_id}}</p>
        </div>
    </div> 
  {% endif %}

{% if price %}
    <div class="row">
      <div class="col-sm-2">
        <p>Price</p>
      </div>
      <div class="col-sm-10">
        <p>${{ price }}</p>
      </div>
    </div>
  {% endif %}

{% endblock %}

<!--         {% for code in price %} -->
<!--         {% endfor %} -->