<!-- Restore missing template tags -->
{% extends 'hospital_pricing/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <header>
    <h2>Pricing Update</h2>
  </header>

  <!-- novalidate attribute required to render validation messages -->
  <form method="post" novalidate>
    {% csrf_token %}

      {% if form.hospital %}
      <div class="row">
        <div class="col-6">
          {{ form.hospital|as_crispy_field }}
        </div>
      </div>
      {% endif %}

     {% if form.drg_code %}
        <div class="row">
          <div class="col-6">
            {{ form.drg_code|as_crispy_field }}
          </div>
        </div>
      {% endif %}

      {% if form.price %}
        <div class="row">
           <div class="col-6">
            {{ form.price|as_crispy_field }}
          </div>
        </div>
      {% endif %}

  <button type="submit" class="btn btn-outline-success">Update</button>
  <!-- Restore missing button -->  
    &nbsp;<a class="btn btn-outline-secondary" href="{% url 'pricing_detail' price.pk %}">Cancel</a>

</form>

{% endblock content %}